<ul role="list" class="divide-y divide-gray-200">
  <li class="py-4">
    [Avatar] Keegan poured a 30.0 second shot!
  </li>
  <li class="py-4">
    [Avatar] Keegan poured a 30.0 second shot!
  </li>
  <li class="py-4">
    [Avatar] Keegan poured a 30.0 second shot!
  </li>
  <!-- More items... -->
</ul>